# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
DerivedData/
*.hmap
*.ipa

# dSYM
*.dSYM/
*.dSYM.zip

# Swift Package Manager
.build/
.swiftpm/
SourcePackages/

# Instruments
*.trace

# CocoaPods (not used; defensive)
Pods/
Podfile.lock
